In [1]:
# Data handling
import pandas as pd
import numpy as np

# Visualization
import seaborn as sns
import matplotlib.pyplot as plt
import matplotlib

# File and path handling
import os
from pathlib import Path

# Display enhancements for Jupyter
from IPython.display import display, HTML

In [2]:
EXPORT_FILES = True  # Change to True when you're ready to export files

In [3]:
file = '/Users/emilsafarov/Library/CloudStorage/OneDrive-Personal/CF/A6/1_sourceing_open_data/US project/Data/Output/final_dataset_v2.csv'

In [4]:
df = pd.read_csv(file)

/var/folders/tt/mzspvn2d7hb3qsps4c4lqh0c0000gn/T/ipykernel_16193/2131829638.py:1: DtypeWarning: Columns (0) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(file)

In [5]:
df.describe

<bound method NDFrame.describe of           FIPS  State           County  air_pollution__air_pollution_2020  \
0            0     US    United States                                8.6
1         1000     AL          Alabama                               11.0
2         1001     AL   Autauga County                               11.7
3         1003     AL   Baldwin County                               10.3
4         1005     AL   Barbour County                               11.5
...        ...    ...              ...                                ...
3193     56039     WY     Teton County                                4.9
3194     56041     WY     Uinta County                                5.9
3195     56043     WY  Washakie County                                4.8
3196     56045     WY    Weston County                                4.1
3197  fipscode  state           county                                NaN

      air_pollution__air_pollution_2021  air_pollution__air_pollution_2022  \
0                                   7.2                                7.5
1                                   9.2                                9.0
2                                  10.4                                9.5
3                                   7.2                                7.2
4                                   9.4                                9.0
...                                 ...                                ...
3193                                4.5                                5.2
3194                                6.2                                6.9
3195                                4.1                                5.2
3196                                3.0                                4.3
3197                                NaN                                NaN

      air_pollution__air_pollution_2023  air_pollution__air_pollution_2024  \
0                                   7.4                               7.35
1                                   9.3                               9.30
2                                  10.0                              10.00
3                                   7.6                               7.60
4                                   9.4                               9.40
...                                 ...                                ...
3193                                3.6                               3.60
3194                                5.3                               5.30
3195                                3.5                               3.50
3196                                3.2                               3.20
3197                                NaN                                NaN

      air_pollution__air_pollution_mean  children_lunch__children_lunch_2020  \
0                                  7.61                             0.522823
1                                  9.56                             0.558742
2                                 10.32                             0.434087
3                                  7.98                             0.484866
4                                  9.74                             0.632923
...                                 ...                                  ...
3193                               4.36                             0.222070
3194                               5.92                             0.377846
3195                               4.22                             0.375087
3196                               3.56                             0.306548
3197                                NaN                                  NaN

      ...  fmr_2_2022  fmr_3_2022  fmr_4_2022  fmr_0_2024  fmr_1_2024  \
0     ...         NaN         NaN         NaN         NaN         NaN
1     ...         NaN         NaN         NaN         NaN         NaN
2     ...       914.0      1156.0      1494.0       836.0       913.0
3     ...      1017.0      1348.0      1715.0      1051.0      1056.0
4     ...       705.0       871.0       980.0       652.0       656.0
...   ...         ...         ...         ...         ...         ...
3193  ...      1408.0      1988.0      2410.0      1317.0      1326.0
3194  ...       757.0      1021.0      1293.0       684.0       689.0
3195  ...       757.0      1075.0      1094.0       684.0       689.0
3196  ...       935.0      1156.0      1600.0       801.0       806.0
3197  ...         NaN         NaN         NaN         NaN         NaN

      fmr_2_2024  fmr_3_2024  fmr_4_2024  missing_fmr  missing_demo
0            NaN         NaN         NaN         True          True
1            NaN         NaN         NaN         True          True
2         1092.0      1383.0      1753.0        False         False
3         1362.0      1670.0      2114.0        False         False
4          857.0      1089.0      1141.0        False         False
...          ...         ...         ...          ...           ...
3193      1742.0      2322.0      2896.0        False         False
3194       905.0      1275.0      1536.0        False         False
3195       905.0      1275.0      1409.0        False         False
3196      1059.0      1280.0      1761.0        False         False
3197         NaN         NaN         NaN         True          True

[3198 rows x 324 columns]>

The dataset contains observations for both individual counties and the overall United States. To preserve only valid county-level data — while excluding national-level entries and the District of Columbia — we will drop those rows.

In [7]:
# Get unique county names that contain only one word (no spaces)
one_word_counties = df['County'].dropna().unique()
one_word_counties = [c for c in one_word_counties if ' ' not in c]

# Display them
print(one_word_counties)
len(one_word_counties)

['Alabama', 'Alaska', 'Arizona', 'Arkansas', 'California', 'Colorado', 'Connecticut', 'Delaware', 'Florida', 'Georgia', 'Hawaii', 'Idaho', 'Illinois', 'Indiana', 'Iowa', 'Kansas', 'Kentucky', 'Louisiana', 'Maine', 'Maryland', 'Massachusetts', 'Michigan', 'Minnesota', 'Mississippi', 'Missouri', 'Montana', 'Nebraska', 'Nevada', 'Ohio', 'Oklahoma', 'Oregon', 'Pennsylvania', 'Tennessee', 'Texas', 'Utah', 'Vermont', 'Virginia', 'Washington', 'Wisconsin', 'Wyoming', 'county']

41

In [8]:
df = df[~df['County'].isin(one_word_counties)] #droping those rows #we dropped 40 rows, nevertheless the nnumber of columns are supposed to be equal to theState number

In [9]:
# List of 2-word state names + District of Columbia
two_word_states = [
    'New Hampshire', 'New Jersey', 'New Mexico', 'New York',
    'North Carolina', 'North Dakota', 'Rhode Island',
    'South Carolina', 'South Dakota', 'West Virginia'
]

# Drop rows where the County column contains any of those names
df = df[~df['County'].isin(two_word_states)]

In [10]:
# Drop rows where the County column is exactly 'county' (case-sensitive) - that was an extra 
df = df[df['County'] != 'county']

In [11]:
# Dropping "United States" - which was in built in dataset
df = df[df['County'] != 'United States']

In [12]:
len(df)

3146

Based on Census.com ​As of 2024, the United States comprises 3,144 counties and county-equivalent entities across the 50 states and the District of Columbia, which confirms the number of of observations in the whole dataframe

In [14]:
# Count NaN values per column
missing_counts = df.isna().sum()

missing_counts = missing_counts[missing_counts > 0]

missing_counts

children_lunch__children_lunch_2020    114
children_lunch__children_lunch_2021    114
children_lunch__children_lunch_2022     19
children_lunch__children_lunch_2023    575
children_lunch__children_lunch_2024    539
                                      ...
fmr_0_2024                              12
fmr_1_2024                              12
fmr_2_2024                              12
fmr_3_2024                              12
fmr_4_2024                              12
Length: 106, dtype: int64

In [15]:
columns_to_consider_to_drop = [
   

    # Disconnected Youth
    'disconnected_youth__disconnected_youth_2020',
    'disconnected_youth__disconnected_youth_2021',
    'disconnected_youth__disconnected_youth_2022',
    'disconnected_youth__disconnected_youth_2023',
    'disconnected_youth__disconnected_youth_2024',
    'disconnected_youth__disconnected_youth_mean',

    # Drug Overdose Deaths
    'drug_overdose_deaths__drug_overdose_deaths_2020',
    'drug_overdose_deaths__drug_overdose_deaths_2021',
    'drug_overdose_deaths__drug_overdose_deaths_2022',
    'drug_overdose_deaths__drug_overdose_deaths_2023',
    'drug_overdose_deaths__drug_overdose_deaths_2024',
    'drug_overdose_deaths__drug_overdose_deaths_mean',

    # Firearm Fatalities
    'firearm_fatalities__firearm_fatalities_2020',
    'firearm_fatalities__firearm_fatalities_2021',
    'firearm_fatalities__firearm_fatalities_2022',
    'firearm_fatalities__firearm_fatalities_2023',
    'firearm_fatalities__firearm_fatalities_2024',
    'firearm_fatalities__firearm_fatalities_mean',

    # Homicides
    'homicides__homicides_2020',
    'homicides__homicides_2021',
    'homicides__homicides_2022',
    'homicides__homicides_2023',
    'homicides__homicides_2024',
    'homicides__homicides_mean',

    # Juvenile Arrests
    'juvenile_arrests__juvenile_arrests_2020',
    'juvenile_arrests__juvenile_arrests_2021',
    'juvenile_arrests__juvenile_arrests_2022',
    'juvenile_arrests__juvenile_arrests_2023',
    'juvenile_arrests__juvenile_arrests_2024',
    'juvenile_arrests__juvenile_arrests_mean',

    # Violent Crime
    'violent_crime__violent_crime_2020',
    'violent_crime__violent_crime_2021',
    'violent_crime__violent_crime_2022',
    'violent_crime__violent_crime_2023',
    'violent_crime__violent_crime_2024',
    'violent_crime__violent_crime_mean'
]

In [16]:
# Calculate missing value percentage
missing_percentages = df[columns_to_consider_to_drop].isna().mean() * 100

# Sort and display
missing_percentages = missing_percentages.sort_values(ascending=False)
print(missing_percentages)

violent_crime__violent_crime_2024                  100.000000
violent_crime__violent_crime_2023                  100.000000
disconnected_youth__disconnected_youth_2024         62.682772
disconnected_youth__disconnected_youth_2023         61.697394
disconnected_youth__disconnected_youth_2022         61.157025
homicides__homicides_2020                           59.154482
homicides__homicides_2021                           58.645900
disconnected_youth__disconnected_youth_2021         58.455181
homicides__homicides_2023                           57.819453
homicides__homicides_2022                           57.819453
homicides__homicides_2024                           56.230134
disconnected_youth__disconnected_youth_2020         56.230134
homicides__homicides_mean                           53.750795
disconnected_youth__disconnected_youth_mean         48.569612
drug_overdose_deaths__drug_overdose_deaths_2020     45.232041
drug_overdose_deaths__drug_overdose_deaths_2021     44.691672
drug_overdose_deaths__drug_overdose_deaths_2023     42.848061
drug_overdose_deaths__drug_overdose_deaths_2022     42.848061
juvenile_arrests__juvenile_arrests_2021             42.085188
drug_overdose_deaths__drug_overdose_deaths_2024     39.605849
juvenile_arrests__juvenile_arrests_2024             38.970121
juvenile_arrests__juvenile_arrests_2023             37.539733
juvenile_arrests__juvenile_arrests_2022             37.539733
drug_overdose_deaths__drug_overdose_deaths_mean     36.713287
juvenile_arrests__juvenile_arrests_2020             31.977114
firearm_fatalities__firearm_fatalities_2020         29.211697
firearm_fatalities__firearm_fatalities_2021         28.798474
firearm_fatalities__firearm_fatalities_2023         27.781310
firearm_fatalities__firearm_fatalities_2022         27.781310
firearm_fatalities__firearm_fatalities_2024         27.527018
firearm_fatalities__firearm_fatalities_mean         23.712651
juvenile_arrests__juvenile_arrests_mean             17.005722
violent_crime__violent_crime_2020                    0.000000
violent_crime__violent_crime_2021                    0.000000
violent_crime__violent_crime_2022                    0.000000
violent_crime__violent_crime_mean                    0.000000
dtype: float64

In [17]:
# Due to high volume of missing values the columns in the "columns_to_consider_to_drop" dataset will be dropped
# Drop the specified columns from the DataFrame
df = df.drop(columns=columns_to_consider_to_drop)

In [18]:
# Find duplicated FIPS values
duplicated_fips = df[df['FIPS'].duplicated(keep=False)]

# Display rows with duplicated FIPS
duplicated_fips.sort_values('FIPS')

,FIPS,State,County,air_pollution__air_pollution_2020,air_pollution__air_pollution_2021,air_pollution__air_pollution_2022,air_pollution__air_pollution_2023,air_pollution__air_pollution_2024,air_pollution__air_pollution_mean,children_lunch__children_lunch_2020,...,fmr_2_2022,fmr_3_2022,fmr_4_2022,fmr_0_2024,fmr_1_2024,fmr_2_2024,fmr_3_2024,fmr_4_2024,missing_fmr,missing_demo
1164,22059,LA,La Salle Parish,9.100000,8.500000,9.100000,8.953333,8.953333,8.921333,0.510189,...,696.0,894.0,980.0,629.0,639.0,840.0,1076.0,1218.0,False,True
1165,22059,LA,LaSalle Parish,8.953333,8.953333,8.953333,8.400000,8.400000,8.732000,0.590555,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,True,False

In [19]:
# Find duplicated (State, County) combinations
duplicated_state_county = df[df.duplicated(subset=['State', 'County'], keep=False)]

# Display sorted for easy review
duplicated_state_county.sort_values(['State', 'County'])

,FIPS,State,County,air_pollution__air_pollution_2020,air_pollution__air_pollution_2021,air_pollution__air_pollution_2022,air_pollution__air_pollution_2023,air_pollution__air_pollution_2024,air_pollution__air_pollution_mean,children_lunch__children_lunch_2020,...,fmr_2_2022,fmr_3_2022,fmr_4_2022,fmr_0_2024,fmr_1_2024,fmr_2_2024,fmr_3_2024,fmr_4_2024,missing_fmr,missing_demo
330,11000,DC,District of Columbia,9.7,10.3,9.5,8.9,8.9,9.46,NaN,...,1785.0,2260.0,2713.0,1772.0,1803.0,2045.0,2544.0,3015.0,False,False
331,11001,DC,District of Columbia,9.7,10.3,9.5,8.9,8.9,9.46,NaN,...,1785.0,2260.0,2713.0,1772.0,1803.0,2045.0,2544.0,3015.0,False,False

In [20]:
unique_states = df['State'].dropna().unique()
print(sorted(unique_states))

['AK', 'AL', 'AR', 'AZ', 'CA', 'CO', 'CT', 'DC', 'DE', 'FL', 'GA', 'HI', 'IA', 'ID', 'IL', 'IN', 'KS', 'KY', 'LA', 'MA', 'MD', 'ME', 'MI', 'MN', 'MO', 'MS', 'MT', 'NC', 'ND', 'NE', 'NH', 'NJ', 'NM', 'NV', 'NY', 'OH', 'OK', 'OR', 'PA', 'RI', 'SC', 'SD', 'TN', 'TX', 'UT', 'VA', 'VT', 'WA', 'WI', 'WV', 'WY']

In [21]:
print("Number of unique states:", df['State'].nunique()) # to prove the right scope of the datasets

Number of unique states: 51

In [22]:
# List of FIPS codes to drop (marked as duplicated or unneeded)
fips_to_drop = [22059, 11000]

# Drop them from the DataFrame
df = df[~df['FIPS'].isin(fips_to_drop)]

In [23]:
# Find rows where all values are NaN
fully_empty_rows = df[df.isna().all(axis=1)]
print("Number of fully empty rows:", len(fully_empty_rows))

Number of fully empty rows: 0

In [24]:
df.shape

(3143, 288)

In [25]:
# Total number of cells in the DataFrame
total_cells = df.size

# Total number of missing (NaN) values
total_missing = df.isna().sum().sum()

# Percentage of missing values
missing_percentage = (total_missing / total_cells) * 100

print(f"Overall missing value percentage: {missing_percentage:.2f}%")

Overall missing value percentage: 0.57%

In [26]:
missing_counts = df.isna().sum()
missing_counts = missing_counts[missing_counts > 0]
print(missing_counts)

children_lunch__children_lunch_2020    113
children_lunch__children_lunch_2021    113
children_lunch__children_lunch_2022     18
children_lunch__children_lunch_2023    574
children_lunch__children_lunch_2024    538
                                      ...
fmr_0_2024                              11
fmr_1_2024                              11
fmr_2_2024                              11
fmr_3_2024                              11
fmr_4_2024                              11
Length: 74, dtype: int64

In [27]:
df = df.drop(columns=['missing_fmr', 'missing_demo']) # extra unneeded columns to drop

In [28]:
# Impute missing values only in columns with year suffixes,
# using the mean of that column within the same State,
# while preserving year-awareness based on column names.
import re

# Create a copy to avoid modifying original df if needed
df_imputed = df.copy()

# Pattern to extract year from column name
year_pattern = re.compile(r'_(20\d{2})$')  # Matches _2020, _2021, ..., _2024

# Iterate through all columns
for col in df.columns:
    # Try to extract year from column name
    match = year_pattern.search(col)
    if match:
        year = match.group(1)

        # Only apply to numeric columns
        if np.issubdtype(df[col].dtype, np.number):
            # Go through each state
            for state in df['State'].dropna().unique():
                # Create mask for rows with this State and missing value in this column
                mask = (df['State'] == state) & (df[col].isna())

                # Select non-null values for that State + Year
                group_mask = (df['State'] == state)
                state_year_values = df.loc[group_mask, col].dropna()

                if not state_year_values.empty:
                    mean_val = state_year_values.mean()
                    df_imputed.loc[mask, col] = mean_val
    else:
        # Optional: log if year is not found in column name
        pass  # Skip non-year columns (e.g., FIPS, State, County)

# === Overall Missing Percentage Summary ===
total_cells = df_imputed.size
total_missing = df_imputed.isna().sum().sum()
overall_missing_percentage = (total_missing / total_cells) * 100

print(f"\n📊 Overall missing value percentage after imputation: {overall_missing_percentage:.2f}%")

📊 Overall missing value percentage after imputation: 0.54%

In [29]:
# Impute remaining NaN values using column-wise State means (no year logic)
for col in df_imputed.columns:
    if df_imputed[col].dtype.kind in 'biufc':  # Only numeric columns
        for state in df_imputed['State'].dropna().unique():
            # Create mask for rows where this column is NaN and State matches
            mask = (df_imputed['State'] == state) & (df_imputed[col].isna())

            # Calculate the mean for this column within the same state
            state_mean = df_imputed.loc[df_imputed['State'] == state, col].mean()

            # Fill missing values with that state mean
            df_imputed.loc[mask, col] = state_mean


# === Overall Missing Percentage Summary ===
total_cells = df_imputed.size
total_missing = df_imputed.isna().sum().sum()
overall_missing_percentage = (total_missing / total_cells) * 100

print(f"\n📊 Overall missing value percentage after State-based imputation: {overall_missing_percentage:.2f}%")

📊 Overall missing value percentage after State-based imputation: 0.51%

In [30]:
# Calculate missing value percentages for df_imputed
missing_percent_imputed = (df_imputed.isna().sum() / len(df_imputed)) * 100

# Create a DataFrame with column names and missing percentages
column_names_imputed_df = pd.DataFrame({
    'Column Name': df_imputed.columns,
    'Missing Percentage': missing_percent_imputed.values.round(2)
})

In [31]:
# Total number of cells in the imputed DataFrame
total_cells_imputed = df_imputed.size

# Total number of missing (NaN) values after imputation
total_missing_imputed = df_imputed.isna().sum().sum()

# Percentage of missing values in df_imputed
missing_percentage_imputed = (total_missing_imputed / total_cells_imputed) * 100

print(f"Overall missing value percentage after imputation: {missing_percentage_imputed:.2f}%")

Overall missing value percentage after imputation: 0.51%

In [32]:
# Show columns that still have missing values
missing_summary = df_imputed.isna().sum()
missing_summary = missing_summary[missing_summary > 0].sort_values(ascending=False)

print("🔍 Columns still missing values after all imputations:\n")
print(missing_summary)

🔍 Columns still missing values after all imputations:

children_lunch__children_lunch_2023                    574
children_lunch__children_lunch_2024                    538
high_school_graduation__high_school_graduation_2023    356
math_scores__math_scores_2024                          342
math_scores__math_scores_2023                          342
math_scores__math_scores_2022                          342
math_scores__math_scores_2021                          342
reading_scores__reading_scores_2022                    242
reading_scores__reading_scores_2024                    242
reading_scores__reading_scores_2023                    242
reading_scores__reading_scores_2021                    242
high_school_graduation__high_school_graduation_2024    141
high_school_graduation__high_school_graduation_2022    131
children_lunch__children_lunch_2021                    113
children_lunch__children_lunch_2020                    113
hiv_prevalence_raw_value__hiv_prevalence_2020           67
high_school_graduation__high_school_graduation_2021     29
children_lunch__children_lunch_mean                     18
children_lunch__children_lunch_2022                     18
Prime Working Age (35–54 years)                          8
pop_2023                                                 8
pop_2022                                                 8
pop_2021                                                 8
pop_2020                                                 8
Non-Hispanic or Latino Percentage                        8
Hispanic or Latino Percentage                            8
Non-Hispanic or Latino Population                        8
Hispanic or Latino Population                            8
Diversity Index                                          8
Seniors (65+ years)                                      8
Pre-Retirement (55–64 years)                             8
Young Adults (20–24 years)                               8
Emerging Workforce (25–34 years)                         8
Adolescents (15–19 years)                                8
Children (5–14 years)                                    8
Young Children (0–4 years)                               8
Total Population                                         8
pop_2024                                                 8
drinking_water__drinking_water_2020                      5
drinking_water__drinking_water_2021                      5
drinking_water__drinking_water_2022                      5
drinking_water__drinking_water_2023                      5
drinking_water__drinking_water_2024                      5
drinking_water__drinking_water_mean                      5
dtype: int64

In [33]:
df_imputed[df_imputed["Prime Working Age (35–54 years)"].isna()]

,FIPS,State,County,air_pollution__air_pollution_2020,air_pollution__air_pollution_2021,air_pollution__air_pollution_2022,air_pollution__air_pollution_2023,air_pollution__air_pollution_2024,air_pollution__air_pollution_mean,children_lunch__children_lunch_2020,...,fmr_0_2022,fmr_1_2022,fmr_2_2022,fmr_3_2022,fmr_4_2022,fmr_0_2024,fmr_1_2024,fmr_2_2024,fmr_3_2024,fmr_4_2024
318,9001,CT,Fairfield County,10.0,9.5,7.9,8.0,8.0,8.68,0.314105,...,1361.50,1633.50,2020.00,2524.00,2771.50,1643.00,1999.00,2424.50,3020.00,3248.50
319,9003,CT,Hartford County,7.6,7.4,8.1,7.7,7.7,7.70,0.396730,...,865.00,1054.00,1302.00,1609.00,1907.00,1121.00,1319.00,1654.00,2000.00,2425.00
320,9005,CT,Litchfield County,7.9,5.4,4.5,5.0,5.0,5.56,0.266334,...,850.00,981.00,1280.00,1582.00,1736.00,1006.00,1160.00,1484.00,1819.00,2024.00
321,9007,CT,Middlesex County,8.6,7.5,7.8,7.7,7.7,7.86,0.216595,...,934.00,1089.25,1406.25,1937.50,2326.25,1172.75,1325.75,1698.25,2241.50,2786.50
322,9009,CT,New Haven County,8.4,8.5,8.6,7.9,7.9,8.26,0.435954,...,1007.50,1186.00,1447.00,1789.00,1995.00,1222.50,1374.00,1676.00,2062.00,2348.00
323,9011,CT,New London County,7.8,5.7,6.0,6.5,6.5,6.50,0.381227,...,843.75,1013.25,1270.00,1679.25,2140.50,1078.75,1270.00,1591.00,2082.25,2682.75
324,9013,CT,Tolland County,8.1,7.0,7.4,7.1,7.1,7.34,0.199012,...,865.00,1054.00,1302.00,1609.00,1907.00,1121.00,1319.00,1654.00,2000.00,2425.00
325,9015,CT,Windham County,7.2,6.5,7.0,6.5,6.5,6.74,0.431198,...,848.00,854.00,1110.00,1388.00,1875.00,1186.00,1194.00,1569.00,1921.00,2380.00

In [34]:
# Step 1: Identify columns that still have missing values
missing_columns = df_imputed.columns[df_imputed.isna().any()].tolist()

# Step 2: For each missing column, fill NaN using the State-wise mean
for col in missing_columns:
    if df_imputed[col].dtype.kind in 'biufc':  # Only numeric
        for state in df_imputed['State'].dropna().unique():
            # Create mask for NaNs in this column and state
            mask = (df_imputed['State'] == state) & (df_imputed[col].isna())

            # Calculate mean for that state (for that column)
            state_mean = df_imputed.loc[df_imputed['State'] == state, col].mean()

            # Fill missing values
            df_imputed.loc[mask, col] = state_mean

In [35]:
remaining_missing = df_imputed.isna().sum()
remaining_missing = remaining_missing[remaining_missing > 0]

if remaining_missing.empty:
    print("✅ All remaining missing values successfully imputed using State-level averages.")
else:
    print("⚠️ These columns still have missing values after imputation:\n")
    print(remaining_missing)

⚠️ These columns still have missing values after imputation:

children_lunch__children_lunch_2020                    113
children_lunch__children_lunch_2021                    113
children_lunch__children_lunch_2022                     18
children_lunch__children_lunch_2023                    574
children_lunch__children_lunch_2024                    538
children_lunch__children_lunch_mean                     18
drinking_water__drinking_water_2020                      5
drinking_water__drinking_water_2021                      5
drinking_water__drinking_water_2022                      5
drinking_water__drinking_water_2023                      5
drinking_water__drinking_water_2024                      5
drinking_water__drinking_water_mean                      5
high_school_graduation__high_school_graduation_2021     29
high_school_graduation__high_school_graduation_2022    131
high_school_graduation__high_school_graduation_2023    356
high_school_graduation__high_school_graduation_2024    141
hiv_prevalence_raw_value__hiv_prevalence_2020           67
math_scores__math_scores_2021                          342
math_scores__math_scores_2022                          342
math_scores__math_scores_2023                          342
math_scores__math_scores_2024                          342
reading_scores__reading_scores_2021                    242
reading_scores__reading_scores_2022                    242
reading_scores__reading_scores_2023                    242
reading_scores__reading_scores_2024                    242
Total Population                                         8
Young Children (0–4 years)                               8
Children (5–14 years)                                    8
Adolescents (15–19 years)                                8
Young Adults (20–24 years)                               8
Emerging Workforce (25–34 years)                         8
Prime Working Age (35–54 years)                          8
Pre-Retirement (55–64 years)                             8
Seniors (65+ years)                                      8
Diversity Index                                          8
Hispanic or Latino Population                            8
Non-Hispanic or Latino Population                        8
Hispanic or Latino Percentage                            8
Non-Hispanic or Latino Percentage                        8
pop_2020                                                 8
pop_2021                                                 8
pop_2022                                                 8
pop_2023                                                 8
pop_2024                                                 8
dtype: int64

In [36]:
# Total number of cells in df_imputed
total_cells = df_imputed.size

# Total number of remaining NaN values
total_missing = df_imputed.isna().sum().sum()

# Calculate overall missing percentage
overall_missing_percentage = (total_missing / total_cells) * 100

# Print result
print(f"\n📊 Overall missing value percentage after final state-level imputation: {overall_missing_percentage:.2f}%")

📊 Overall missing value percentage after final state-level imputation: 0.51%

In [37]:
# 🎯 GOAL: For all columns with missing values, apply imputation using either:
# - Row-wise mean (if part of a year-grouped series like children_lunch, drinking_water, etc.)
# - Or state-level mean (already done)

# Step 1: Define grouped column sets to impute using row-wise logic
grouped_sets = [
    ['children_lunch__children_lunch_2020', 'children_lunch__children_lunch_2021',
     'children_lunch__children_lunch_2022', 'children_lunch__children_lunch_2023',
     'children_lunch__children_lunch_2024'],
    
    ['drinking_water__drinking_water_2020', 'drinking_water__drinking_water_2021',
     'drinking_water__drinking_water_2022', 'drinking_water__drinking_water_2023',
     'drinking_water__drinking_water_2024'],
    
    ['high_school_graduation__high_school_graduation_2021',
     'high_school_graduation__high_school_graduation_2022',
     'high_school_graduation__high_school_graduation_2023',
     'high_school_graduation__high_school_graduation_2024'],
    
    ['math_scores__math_scores_2021', 'math_scores__math_scores_2022',
     'math_scores__math_scores_2023', 'math_scores__math_scores_2024'],
    
    ['reading_scores__reading_scores_2021', 'reading_scores__reading_scores_2022',
     'reading_scores__reading_scores_2023', 'reading_scores__reading_scores_2024'],
    
    ['pop_2020', 'pop_2021', 'pop_2022', 'pop_2023', 'pop_2024'],
    
    ['Total Population', 'Young Children (0–4 years)', 'Children (5–14 years)',
     'Adolescents (15–19 years)', 'Young Adults (20–24 years)', 'Emerging Workforce (25–34 years)',
     'Prime Working Age (35–54 years)', 'Pre-Retirement (55–64 years)', 'Seniors (65+ years)',
     'Diversity Index', 'Hispanic or Latino Population', 'Non-Hispanic or Latino Population',
     'Hispanic or Latino Percentage', 'Non-Hispanic or Latino Percentage']
]

# Step 2: Impute row-wise for each group
for col_group in grouped_sets:
    # Check if all columns exist in df
    valid_cols = [col for col in col_group if col in df_imputed.columns]
    
    if valid_cols:
        df_imputed[valid_cols] = df_imputed[valid_cols].apply(
            lambda row: row.fillna(row.mean()), axis=1
        )

# Step 3: Recalculate corresponding *_mean columns (where applicable)
df_imputed['children_lunch__children_lunch_mean'] = df_imputed[
    ['children_lunch__children_lunch_2020', 'children_lunch__children_lunch_2021',
     'children_lunch__children_lunch_2022', 'children_lunch__children_lunch_2023',
     'children_lunch__children_lunch_2024']
].mean(axis=1)

df_imputed['drinking_water__drinking_water_mean'] = df_imputed[
    ['drinking_water__drinking_water_2020', 'drinking_water__drinking_water_2021',
     'drinking_water__drinking_water_2022', 'drinking_water__drinking_water_2023',
     'drinking_water__drinking_water_2024']
].mean(axis=1)

# ✅ Final confirmation
print("✅ All grouped columns with missing values were imputed using row-wise means. Mean columns updated.")

✅ All grouped columns with missing values were imputed using row-wise means. Mean columns updated.

In [38]:
remaining_missing = df_imputed.isna().sum()
remaining_missing = remaining_missing[remaining_missing > 0]

if remaining_missing.empty:
    print("✅ All remaining missing values successfully imputed using State-level averages.")
else:
    print("⚠️ These columns still have missing values after imputation:\n")
    print(remaining_missing)

⚠️ These columns still have missing values after imputation:

children_lunch__children_lunch_2020               18
children_lunch__children_lunch_2021               18
children_lunch__children_lunch_2022               18
children_lunch__children_lunch_2023               18
children_lunch__children_lunch_2024               18
children_lunch__children_lunch_mean               18
drinking_water__drinking_water_2020                5
drinking_water__drinking_water_2021                5
drinking_water__drinking_water_2022                5
drinking_water__drinking_water_2023                5
drinking_water__drinking_water_2024                5
drinking_water__drinking_water_mean                5
hiv_prevalence_raw_value__hiv_prevalence_2020     67
math_scores__math_scores_2021                    342
math_scores__math_scores_2022                    342
math_scores__math_scores_2023                    342
math_scores__math_scores_2024                    342
reading_scores__reading_scores_2021              242
reading_scores__reading_scores_2022              242
reading_scores__reading_scores_2023              242
reading_scores__reading_scores_2024              242
Total Population                                   8
Young Children (0–4 years)                         8
Children (5–14 years)                              8
Adolescents (15–19 years)                          8
Young Adults (20–24 years)                         8
Emerging Workforce (25–34 years)                   8
Prime Working Age (35–54 years)                    8
Pre-Retirement (55–64 years)                       8
Seniors (65+ years)                                8
Diversity Index                                    8
Hispanic or Latino Population                      8
Non-Hispanic or Latino Population                  8
Hispanic or Latino Percentage                      8
Non-Hispanic or Latino Percentage                  8
pop_2020                                           8
pop_2021                                           8
pop_2022                                           8
pop_2023                                           8
pop_2024                                           8
dtype: int64

In [39]:
# Total number of cells in df_imputed
total_cells = df_imputed.size

# Total number of remaining NaN values
total_missing = df_imputed.isna().sum().sum()

# Calculate overall missing percentage
overall_missing_percentage = (total_missing / total_cells) * 100

# Print result
print(f"\n📊 Overall missing value percentage after final state-level imputation: {overall_missing_percentage:.2f}%")

📊 Overall missing value percentage after final state-level imputation: 0.30%

In [40]:
# 🎯 GOAL: Impute missing math and reading scores (2021–2024) using available 2020 values

# Math Scores
math_2020_col = 'math_scores__math_scores_2020'  # assumed available
math_cols_to_fill = [
    'math_scores__math_scores_2021',
    'math_scores__math_scores_2022',
    'math_scores__math_scores_2023',
    'math_scores__math_scores_2024'
]

for col in math_cols_to_fill:
    if col in df_imputed.columns and math_2020_col in df_imputed.columns:
        df_imputed[col] = df_imputed[col].fillna(df_imputed[math_2020_col])

# Reading Scores
reading_2020_col = 'reading_scores__reading_scores_2020'  # assumed available
reading_cols_to_fill = [
    'reading_scores__reading_scores_2021',
    'reading_scores__reading_scores_2022',
    'reading_scores__reading_scores_2023',
    'reading_scores__reading_scores_2024'
]

for col in reading_cols_to_fill:
    if col in df_imputed.columns and reading_2020_col in df_imputed.columns:
        df_imputed[col] = df_imputed[col].fillna(df_imputed[reading_2020_col])

# ✅ Confirmation
print("✅ Missing math and reading scores for 2021–2024 were imputed using 2020 values.")

✅ Missing math and reading scores for 2021–2024 were imputed using 2020 values.

In [41]:
remaining_missing = df_imputed.isna().sum()
remaining_missing = remaining_missing[remaining_missing > 0]

if remaining_missing.empty:
    print("✅ All remaining missing values successfully imputed using State-level averages.")
else:
    print("⚠️ These columns still have missing values after imputation:\n")
    print(remaining_missing)

⚠️ These columns still have missing values after imputation:

children_lunch__children_lunch_2020              18
children_lunch__children_lunch_2021              18
children_lunch__children_lunch_2022              18
children_lunch__children_lunch_2023              18
children_lunch__children_lunch_2024              18
children_lunch__children_lunch_mean              18
drinking_water__drinking_water_2020               5
drinking_water__drinking_water_2021               5
drinking_water__drinking_water_2022               5
drinking_water__drinking_water_2023               5
drinking_water__drinking_water_2024               5
drinking_water__drinking_water_mean               5
hiv_prevalence_raw_value__hiv_prevalence_2020    67
Total Population                                  8
Young Children (0–4 years)                        8
Children (5–14 years)                             8
Adolescents (15–19 years)                         8
Young Adults (20–24 years)                        8
Emerging Workforce (25–34 years)                  8
Prime Working Age (35–54 years)                   8
Pre-Retirement (55–64 years)                      8
Seniors (65+ years)                               8
Diversity Index                                   8
Hispanic or Latino Population                     8
Non-Hispanic or Latino Population                 8
Hispanic or Latino Percentage                     8
Non-Hispanic or Latino Percentage                 8
pop_2020                                          8
pop_2021                                          8
pop_2022                                          8
pop_2023                                          8
pop_2024                                          8
dtype: int64

In [42]:
# Show all columns containing "hiv_prevalence"
similar_hiv_cols = [col for col in df_imputed.columns if "hiv_prevalence" in col]
print("🧬 HIV-related columns:")
for col in similar_hiv_cols:
    print(f"- {col}")

🧬 HIV-related columns:
- hiv_prevalence_raw_value__hiv_prevalence_2020
- hiv_prevalence_raw_value__hiv_prevalence_2021
- hiv_prevalence_raw_value__hiv_prevalence_2022
- hiv_prevalence_raw_value__hiv_prevalence_2023
- hiv_prevalence_raw_value__hiv_prevalence_2024
- hiv_prevalence_raw_value__hiv_prevalence_mean

In [43]:
# 🎯 GOAL: Impute missing values in 2020 HIV prevalence using the mean of 2021–2024

# Define columns
hiv_2020 = 'hiv_prevalence_raw_value__hiv_prevalence_2020'
hiv_other_years = [
    'hiv_prevalence_raw_value__hiv_prevalence_2021',
    'hiv_prevalence_raw_value__hiv_prevalence_2022',
    'hiv_prevalence_raw_value__hiv_prevalence_2023',
    'hiv_prevalence_raw_value__hiv_prevalence_2024'
]

# Impute using row-wise mean of 2021–2024
df_imputed[hiv_2020] = df_imputed.apply(
    lambda row: row[hiv_2020]
    if pd.notna(row[hiv_2020])
    else row[hiv_other_years].mean(skipna=True),
    axis=1
)

# ✅ Confirmation
print("✅ Missing values in HIV prevalence 2020 were imputed using the row-wise mean of 2021–2024.")

✅ Missing values in HIV prevalence 2020 were imputed using the row-wise mean of 2021–2024.

In [44]:
remaining_missing = df_imputed.isna().sum()
remaining_missing = remaining_missing[remaining_missing > 0]

if remaining_missing.empty:
    print("✅ All remaining missing values successfully imputed using State-level averages.")
else:
    print("⚠️ These columns still have missing values after imputation:\n")
    print(remaining_missing)

⚠️ These columns still have missing values after imputation:

children_lunch__children_lunch_2020    18
children_lunch__children_lunch_2021    18
children_lunch__children_lunch_2022    18
children_lunch__children_lunch_2023    18
children_lunch__children_lunch_2024    18
children_lunch__children_lunch_mean    18
drinking_water__drinking_water_2020     5
drinking_water__drinking_water_2021     5
drinking_water__drinking_water_2022     5
drinking_water__drinking_water_2023     5
drinking_water__drinking_water_2024     5
drinking_water__drinking_water_mean     5
Total Population                        8
Young Children (0–4 years)              8
Children (5–14 years)                   8
Adolescents (15–19 years)               8
Young Adults (20–24 years)              8
Emerging Workforce (25–34 years)        8
Prime Working Age (35–54 years)         8
Pre-Retirement (55–64 years)            8
Seniors (65+ years)                     8
Diversity Index                         8
Hispanic or Latino Population           8
Non-Hispanic or Latino Population       8
Hispanic or Latino Percentage           8
Non-Hispanic or Latino Percentage       8
pop_2020                                8
pop_2021                                8
pop_2022                                8
pop_2023                                8
pop_2024                                8
dtype: int64

In [45]:
# 🎯 GOAL: Impute missing values using the row-wise average across year-grouped variables (same row)

# Define grouped columns for row-wise imputation
grouped_sets = [
    # children lunch
    ['children_lunch__children_lunch_2020', 'children_lunch__children_lunch_2021',
     'children_lunch__children_lunch_2022', 'children_lunch__children_lunch_2023',
     'children_lunch__children_lunch_2024'],
    
    # drinking water
    ['drinking_water__drinking_water_2020', 'drinking_water__drinking_water_2021',
     'drinking_water__drinking_water_2022', 'drinking_water__drinking_water_2023',
     'drinking_water__drinking_water_2024'],

    # population age groups & diversity
    ['Total Population', 'Young Children (0–4 years)', 'Children (5–14 years)',
     'Adolescents (15–19 years)', 'Young Adults (20–24 years)', 'Emerging Workforce (25–34 years)',
     'Prime Working Age (35–54 years)', 'Pre-Retirement (55–64 years)', 'Seniors (65+ years)',
     'Diversity Index', 'Hispanic or Latino Population', 'Non-Hispanic or Latino Population',
     'Hispanic or Latino Percentage', 'Non-Hispanic or Latino Percentage',
     'pop_2020', 'pop_2021', 'pop_2022', 'pop_2023', 'pop_2024']
]

# Apply row-wise mean imputation per group
for col_group in grouped_sets:
    valid_cols = [col for col in col_group if col in df_imputed.columns]
    if valid_cols:
        df_imputed[valid_cols] = df_imputed[valid_cols].apply(
            lambda row: row.fillna(row.mean()), axis=1
        )

# Recalculate children lunch and drinking water mean columns
df_imputed['children_lunch__children_lunch_mean'] = df_imputed[
    ['children_lunch__children_lunch_2020', 'children_lunch__children_lunch_2021',
     'children_lunch__children_lunch_2022', 'children_lunch__children_lunch_2023',
     'children_lunch__children_lunch_2024']
].mean(axis=1)

df_imputed['drinking_water__drinking_water_mean'] = df_imputed[
    ['drinking_water__drinking_water_2020', 'drinking_water__drinking_water_2021',
     'drinking_water__drinking_water_2022', 'drinking_water__drinking_water_2023',
     'drinking_water__drinking_water_2024']
].mean(axis=1)

# ✅ Confirmation
print("✅ Final row-wise imputation complete. All grouped columns filled using row-level averages.")

✅ Final row-wise imputation complete. All grouped columns filled using row-level averages.

In [46]:
remaining_missing = df_imputed.isna().sum()
remaining_missing = remaining_missing[remaining_missing > 0]

if remaining_missing.empty:
    print("✅ All remaining missing values successfully imputed using State-level averages.")
else:
    print("⚠️ These columns still have missing values after imputation:\n")
    print(remaining_missing)

⚠️ These columns still have missing values after imputation:

children_lunch__children_lunch_2020    18
children_lunch__children_lunch_2021    18
children_lunch__children_lunch_2022    18
children_lunch__children_lunch_2023    18
children_lunch__children_lunch_2024    18
children_lunch__children_lunch_mean    18
drinking_water__drinking_water_2020     5
drinking_water__drinking_water_2021     5
drinking_water__drinking_water_2022     5
drinking_water__drinking_water_2023     5
drinking_water__drinking_water_2024     5
drinking_water__drinking_water_mean     5
Total Population                        8
Young Children (0–4 years)              8
Children (5–14 years)                   8
Adolescents (15–19 years)               8
Young Adults (20–24 years)              8
Emerging Workforce (25–34 years)        8
Prime Working Age (35–54 years)         8
Pre-Retirement (55–64 years)            8
Seniors (65+ years)                     8
Diversity Index                         8
Hispanic or Latino Population           8
Non-Hispanic or Latino Population       8
Hispanic or Latino Percentage           8
Non-Hispanic or Latino Percentage       8
pop_2020                                8
pop_2021                                8
pop_2022                                8
pop_2023                                8
pop_2024                                8
dtype: int64

In [47]:
# 🎯 Columns you're interested in
target_cols = [
    'children_lunch__children_lunch_2020', 'children_lunch__children_lunch_2021',
    'children_lunch__children_lunch_2022', 'children_lunch__children_lunch_2023',
    'children_lunch__children_lunch_2024', 'children_lunch__children_lunch_mean',
    
    'drinking_water__drinking_water_2020', 'drinking_water__drinking_water_2021',
    'drinking_water__drinking_water_2022', 'drinking_water__drinking_water_2023',
    'drinking_water__drinking_water_2024', 'drinking_water__drinking_water_mean',
    
    'Total Population', 'Young Children (0–4 years)', 'Children (5–14 years)',
    'Adolescents (15–19 years)', 'Young Adults (20–24 years)', 'Emerging Workforce (25–34 years)',
    'Prime Working Age (35–54 years)', 'Pre-Retirement (55–64 years)', 'Seniors (65+ years)',
    'Diversity Index', 'Hispanic or Latino Population', 'Non-Hispanic or Latino Population',
    'Hispanic or Latino Percentage', 'Non-Hispanic or Latino Percentage',
    
    'pop_2020', 'pop_2021', 'pop_2022', 'pop_2023', 'pop_2024'
]

# Filter rows with NaN in any of the target columns
rows_with_missing = df_imputed[df_imputed[target_cols].isna().any(axis=1)]

# Show the filtered rows (only these columns)
rows_with_missing_display = rows_with_missing[['FIPS', 'State', 'County'] + target_cols]
print(rows_with_missing_display)

       FIPS State                County  children_lunch__children_lunch_2020  \
318    9001    CT      Fairfield County                             0.314105
319    9003    CT       Hartford County                             0.396730
320    9005    CT     Litchfield County                             0.266334
321    9007    CT      Middlesex County                             0.216595
322    9009    CT      New Haven County                             0.435954
323    9011    CT     New London County                             0.381227
324    9013    CT        Tolland County                             0.199012
325    9015    CT        Windham County                             0.431198
327   10001    DE           Kent County                                  NaN
328   10003    DE     New Castle County                                  NaN
329   10005    DE         Sussex County                                  NaN
331   11001    DC  District of Columbia                                  NaN
561   15001    HI         Hawaii County                             0.633347
562   15003    HI       Honolulu County                             0.432255
563   15005    HI        Kalawao County                             0.498957
564   15007    HI          Kauai County                             0.475852
565   15009    HI           Maui County                             0.482085
1243  25001    MA     Barnstable County                                  NaN
1244  25003    MA      Berkshire County                                  NaN
1245  25005    MA        Bristol County                                  NaN
1246  25007    MA          Dukes County                                  NaN
1247  25009    MA          Essex County                                  NaN
1248  25011    MA       Franklin County                                  NaN
1249  25013    MA        Hampden County                                  NaN
1250  25015    MA      Hampshire County                                  NaN
1251  25017    MA      Middlesex County                                  NaN
1252  25019    MA      Nantucket County                                  NaN
1253  25021    MA        Norfolk County                                  NaN
1254  25023    MA       Plymouth County                                  NaN
1255  25025    MA        Suffolk County                                  NaN
1256  25027    MA      Worcester County                                  NaN

      children_lunch__children_lunch_2021  \
318                              0.380155
319                              0.432653
320                              0.364593
321                              0.279066
322                              0.487749
323                              0.432313
324                              0.254156
325                              0.478899
327                                   NaN
328                                   NaN
329                                   NaN
331                                   NaN
561                              0.630378
562                              0.420748
563                              0.482853
564                              0.442106
565                              0.462080
1243                                  NaN
1244                                  NaN
1245                                  NaN
1246                                  NaN
1247                                  NaN
1248                                  NaN
1249                                  NaN
1250                                  NaN
1251                                  NaN
1252                                  NaN
1253                                  NaN
1254                                  NaN
1255                                  NaN
1256                                  NaN

      children_lunch__children_lunch_2022  \
318                              0.377244
319                              0.445333
320                              0.384732
321                              0.305197
322                              0.509060
323                              0.440083
324                              0.272242
325                              0.480988
327                                   NaN
328                                   NaN
329                                   NaN
331                                   NaN
561                              0.623789
562                              0.414808
563                              0.482474
564                              0.456038
565                              0.462711
1243                                  NaN
1244                                  NaN
1245                                  NaN
1246                                  NaN
1247                                  NaN
1248                                  NaN
1249                                  NaN
1250                                  NaN
1251                                  NaN
1252                                  NaN
1253                                  NaN
1254                                  NaN
1255                                  NaN
1256                                  NaN

      children_lunch__children_lunch_2023  \
318                              0.366815
319                              0.443422
320                              0.387918
321                              0.298852
322                              0.503502
323                              0.444375
324                              0.270519
325                              0.473220
327                                   NaN
328                                   NaN
329                                   NaN
331                                   NaN
561                              0.646023
562                              0.430924
563                              0.518940
564                              0.513889
565                              0.523357
1243                                  NaN
1244                                  NaN
1245                                  NaN
1246                                  NaN
1247                                  NaN
1248                                  NaN
1249                                  NaN
1250                                  NaN
1251                                  NaN
1252                                  NaN
1253                                  NaN
1254                                  NaN
1255                                  NaN
1256                                  NaN

      children_lunch__children_lunch_2024  \
318                              0.349724
319                              0.427273
320                              0.367460
321                              0.271768
322                              0.468756
323                              0.405618
324                              0.254788
325                              0.448300
327                                   NaN
328                                   NaN
329                                   NaN
331                                   NaN
561                              0.639827
562                              0.422420
563                              0.510413
564                              0.506316
565                              0.511126
1243                                  NaN
1244                                  NaN
1245                                  NaN
1246                                  NaN
1247                                  NaN
1248                                  NaN
1249                                  NaN
1250                                  NaN
1251                                  NaN
1252                                  NaN
1253                                  NaN
1254                                  NaN
1255                                  NaN
1256                                  NaN

      children_lunch__children_lunch_mean  \
318                              0.357609
319                              0.429082
320                              0.354207
321                              0.274296
322                              0.481004
323                              0.420723
324                              0.250144
325                              0.462521
327                                   NaN
328                                   NaN
329                                   NaN
331                                   NaN
561                              0.634673
562                              0.424231
563                              0.498727
564                              0.478840
565                              0.488272
1243                                  NaN
1244                                  NaN
1245                                  NaN
1246                                  NaN
1247                                  NaN
1248                                  NaN
1249                                  NaN
1250                                  NaN
1251                                  NaN
1252                                  NaN
1253                                  NaN
1254                                  NaN
1255                                  NaN
1256                                  NaN

      drinking_water__drinking_water_2020  ...  Diversity Index  \
318                                   1.0  ...              NaN
319                                   1.0  ...              NaN
320                                   1.0  ...              NaN
321                                   1.0  ...              NaN
322                                   1.0  ...              NaN
323                                   1.0  ...              NaN
324                                   1.0  ...              NaN
325                                   1.0  ...              NaN
327                                   1.0  ...         0.560407
328                                   0.0  ...         0.605942
329                                   1.0  ...         0.409840
331                                   0.0  ...         0.649138
561                                   NaN  ...         0.737169
562                                   NaN  ...         0.713127
563                                   NaN  ...         0.766901
564                                   NaN  ...         0.733950
565                                   NaN  ...         0.738591
1243                                  1.0  ...         0.238297
1244                                  1.0  ...         0.233035
1245                                  1.0  ...         0.369367
1246                                  0.0  ...         0.320956
1247                                  1.0  ...         0.479196
1248                                  1.0  ...         0.196360
1249                                  1.0  ...         0.512716
1250                                  0.0  ...         0.297989
1251                                  1.0  ...         0.495714
1252                                  0.0  ...         0.470231
1253                                  1.0  ...         0.464943
1254                                  1.0  ...         0.376623
1255                                  0.0  ...         0.693458
1256                                  1.0  ...         0.412860

      Hispanic or Latino Population  Non-Hispanic or Latino Population  \
318                             NaN                                NaN
319                             NaN                                NaN
320                             NaN                                NaN
321                             NaN                                NaN
322                             NaN                                NaN
323                             NaN                                NaN
324                             NaN                                NaN
325                             NaN                                NaN
327                         14649.0                           170394.0
328                         65392.0                           507638.0
329                         27788.0                           220011.0
331                         77760.0                           594319.0
561                         23451.0                           180233.0
562                         93725.0                           909941.0
563                             4.0                               39.0
564                          7720.0                            65890.0
565                         17325.0                           147307.0
1243                         8178.0                           221895.0
1244                         7176.0                           120871.0
1245                        56800.0                           521636.0
1246                          641.0                            20110.0
1247                       187521.0                           619737.0
1248                         3691.0                            67231.0
1249                       123001.0                           339852.0
1250                        11259.0                           145336.0
1251                       145868.0                          1477028.0
1252                         2347.0                            11952.0
1253                        40130.0                           684410.0
1254                        25022.0                           506867.0
1255                       178286.0                           603886.0
1256                       114759.0                           746905.0

      Hispanic or Latino Percentage  Non-Hispanic or Latino Percentage  \
318                             NaN                                NaN
319                             NaN                                NaN
320                             NaN                                NaN
321                             NaN                                NaN
322                             NaN                                NaN
323                             NaN                                NaN
324                             NaN                                NaN
325                             NaN                                NaN
327                        7.916538                          92.083462
328                       11.411619                          88.588381
329                       11.213927                          88.786073
331                       11.570068                          88.429932
561                       11.513423                          88.486577
562                        9.338266                          90.661734
563                        9.302326                          90.697674
564                       10.487705                          89.512295
565                       10.523471                          89.476529
1243                       3.554524                          96.445476
1244                       5.604192                          94.395808
1245                       9.819582                          90.180418
1246                       3.089008                          96.910992
1247                      23.229376                          76.770624
1248                       5.204309                          94.795691
1249                      26.574528                          73.425472
1250                       7.189885                          92.810115
1251                       8.988130                          91.011870
1252                      16.413735                          83.586265
1253                       5.538687                          94.461313
1254                       4.704365                          95.295635
1255                      22.793708                          77.206292
1256                      13.318300                          86.681700

       pop_2020   pop_2021   pop_2022   pop_2023   pop_2024
318         NaN        NaN        NaN        NaN        NaN
319         NaN        NaN        NaN        NaN        NaN
320         NaN        NaN        NaN        NaN        NaN
321         NaN        NaN        NaN        NaN        NaN
322         NaN        NaN        NaN        NaN        NaN
323         NaN        NaN        NaN        NaN        NaN
324         NaN        NaN        NaN        NaN        NaN
325         NaN        NaN        NaN        NaN        NaN
327    182317.0   185069.0   187819.0   190123.0   192690.0
328    570957.0   572116.0   576316.0   582325.0   588093.0
329    238654.0   247877.0   256490.0   263975.0   271134.0
331    670917.0   669256.0   676725.0   687324.0   702250.0
561    200754.0   203933.0   206324.0   208043.0   209790.0
562   1012407.0  1004349.0   995652.0   994576.0   998747.0
563        80.0       81.0       81.0       81.0       81.0
564     73209.0    73851.0    73823.0    73933.0    73840.0
565    164802.0   164815.0   164479.0   164754.0   163688.0
1243   228060.0   232379.0   232571.0   232759.0   232570.0
1244   129812.0   130199.0   129551.0   128863.0   128726.0
1245   576776.0   579729.0   581201.0   585053.0   588593.0
1246    20580.0    21112.0    21033.0    20879.0    21061.0
1247   807781.0   807315.0   810039.0   816197.0   823938.0
1248    70934.0    71007.0    71050.0    70860.0    70871.0
1249   463714.0   462640.0   461440.0   462128.0   464151.0
1250   148589.0   165069.0   165397.0   165686.0   165399.0
1251  1627578.0  1620553.0  1629805.0  1644932.0  1668956.0
1252    14239.0    14507.0    14464.0    14534.0    14670.0
1253   723750.0   724906.0   728619.0   732379.0   740754.0
1254   528454.0   532726.0   534297.0   537807.0   542090.0
1255   797239.0   776280.0   777266.0   781678.0   793144.0
1256   857092.0   862052.0   865735.0   872813.0   881248.0

[31 rows x 34 columns]

In [48]:
import pandas as pd

# 🎯 Columns you're interested in
target_cols = [
    'children_lunch__children_lunch_2020', 'children_lunch__children_lunch_2021',
    'children_lunch__children_lunch_2022', 'children_lunch__children_lunch_2023',
    'children_lunch__children_lunch_2024', 'children_lunch__children_lunch_mean',
    
    'drinking_water__drinking_water_2020', 'drinking_water__drinking_water_2021',
    'drinking_water__drinking_water_2022', 'drinking_water__drinking_water_2023',
    'drinking_water__drinking_water_2024', 'drinking_water__drinking_water_mean',
    
    'Total Population', 'Young Children (0–4 years)', 'Children (5–14 years)',
    'Adolescents (15–19 years)', 'Young Adults (20–24 years)', 'Emerging Workforce (25–34 years)',
    'Prime Working Age (35–54 years)', 'Pre-Retirement (55–64 years)', 'Seniors (65+ years)',
    'Diversity Index', 'Hispanic or Latino Population', 'Non-Hispanic or Latino Population',
    'Hispanic or Latino Percentage', 'Non-Hispanic or Latino Percentage',
    
    'pop_2020', 'pop_2021', 'pop_2022', 'pop_2023', 'pop_2024'
]

# Filter rows with missing values
rows_with_missing = df_imputed[df_imputed[target_cols].isna().any(axis=1)]

# Select and export relevant columns
rows_with_missing_display = rows_with_missing[['FIPS', 'State', 'County'] + target_cols]

In [49]:
# 🎯 GOAL: Impute any remaining NaN values using global (column-wise) mean for numeric columns

df_imputed = df_imputed.apply(
    lambda col: col.fillna(col.mean()) if col.dtype.kind in 'biufc' else col
)

# ✅ Confirmation message
total_missing = df_imputed.isna().sum().sum()
print(f"✅ Global mean imputation complete. Remaining missing values: {int(total_missing)}")

✅ Global mean imputation complete. Remaining missing values: 0

In [50]:
remaining_missing = df_imputed.isna().sum()
remaining_missing = remaining_missing[remaining_missing > 0]

if remaining_missing.empty:
    print("✅ All remaining missing values successfully imputed using State-level averages.")
else:
    print("⚠️ These columns still have missing values after imputation:\n")
    print(remaining_missing)

✅ All remaining missing values successfully imputed using State-level averages.

In [51]:

# Define export path
export_path = '/Users/emilsafarov/Library/CloudStorage/OneDrive-Personal/CF/A6/1_sourceing_open_data/US project/Data/Output'

# Export only if flag is set
if EXPORT_FILES:
    df_imputed.to_csv(f'{export_path}/final_dataset_v3.csv', index=False)

In [52]:
# Calculate missing value percentages for df_imputed
missing_percent_imputed = (df_imputed.isna().sum() / len(df_imputed)) * 100

# Create a DataFrame with column names and missing percentages
column_names_imputed_df = pd.DataFrame({
    'Column Name': df_imputed.columns,
    'Missing Percentage': missing_percent_imputed.values.round(2)
})